*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 22, 22);
    overflow: hidden;
    pointer-events: none;
}
.line-wrapper{
    display: flex;
    position: relative;
    bottom: 1.5rem;
    pointer-events: none;
}
.hexagon{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: rgb(46, 44, 44);
    transform: rotate(90deg);
    border: 1px solid black;
    pointer-events: initial;
}

.hover { 
    background-color: green;
    animation: colanim 2s linear,changeCol 20s linear infinite;
}


.hex-container {
    pointer-events: none;
}

@keyframes changeCol {
    0%{
        filter: hue-rotate(0deg);
    }
     100%{
         filter: hue-rotate(360deg);
     }
}
@keyframes colanim {
    0%{
        filter: alpha(opacity=100);
    }
    
    30%{
        filter: alpha(opacity=50);
    }

    60%{
        filter: alpha(opacity=30);
    }   

    100%{
         background-color:rgb(46, 44, 44);
       
    }
    }
    