@function randCol() {
    @return random(360);
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 22, 22);
    overflow: hidden;
    pointer-events: none;
}
.line-wrapper{
    display: flex;
    position: relative;
    bottom: 1.5rem;
    pointer-events: none;
}
.hexagon{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: rgb(46, 44, 44);
    transform: rotate(90deg);
    border: 1px solid black;
    pointer-events: initial;
}

.hover { 
    animation: colanim 2s linear;
}

.hex-container {
    pointer-events: none;
}
@keyframes colanim {

    $color : randCol();
    0%{
        background-color: hsla($color, 100%, 30%, 1);
    }
    
    30%{
        background-color:hsla($color, 100%, 50%, 0.5);
    }

    60%{
        background-color:hsla($color, 100%, 65%, 0.3);
    }   

    100%{
        background-color:rgb(46, 44, 44);
       
    }
    $color: 0;
    }
    